# General
.env
.DS_Store
*.log

# Rust / Cargo
**/target/
Cargo.lock # Typically included, but can be excluded in libraries if needed

# Node / SvelteKit
**/node_modules/
.svelte-kit/
build/
dist/
*.env.*
*.env
!.env.example

# IDE / Editor specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idx/.data

# Specific backend environment file
/backend/.env

# Cargo Tarpaulin
tarpaulin-report.json

# Temp files
/temp

# Cursor rules
.cursorrules
.cursor 